/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .hero .description,
.home .footer,
.home .feature p
  color #5d5d5d !important